
body {
    background-image: url('../img/sispak.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    padding-top: 150px;
    padding-bottom: 50px;
}

.card{
    border-radius: 50px;
    background-color: #3D8026;
    width: 70%;
    padding: 3% 6%;
}

.card-title{
    font-size: 60px;
    color: #FFF964;
    font-weight: 700;
    cursor: default;
}

.btn{
    margin-top: 80px;
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 25px;
    background-color: #3D8026;
    color: #FFF964;
    font-size: 30px;
}
.btn:hover{
    background-color: #CFFFAA;
}