@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #3D8026;
}

nav img{
    margin-left: 2rem;
    height: 43px;
}

.navbar-brand{
    font-weight: 700;
    font-size: large;
    color: #beed76 !important;
    margin-left: 1rem;
}

.navbar-brand:hover{
    cursor: default;
}

.navbar-collapse {
    align-items: end;
}

.navbar-collapse .active{
    color: #CFFFAA !important;
}

.nav-link{
    font-weight: 700;
    font-size: large;
}

.nav-link:hover{
    color: white !important;
}